<p>first-page works!</p>

<div *ngFor="let dummy of dummyData">
    <p [title]="'Info about '+ dummy.name">Name: {{dummy.name}}</p>
    <p >Age: {{dummy.age}}</p>
    <p *ngIf="dummy.description">
        Description: {{dummy.description}}
    </p>

    <button class="mat-raised-button" (click)="like()">
        Like
    </button>
<!-- self lesson, always check your spellings 😂😂-->
    <button (click)="addToStoredData(dummy)">
        Save

    </button>
    <app-alerts [dummy2]="dummy">
        
    </app-alerts>

</div>
<!-- the routerlink variable is case sensitive -->
<button [routerLink]="['/secondpage']">Second page</button>
